@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Apercu Mono';
  src: url('/fonts/apercu-mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('/fonts/apercu.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Bold';
  src: url('/fonts/apercu-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Relative';
  src: url('/fonts/relative-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Relative Mono';
  src: url('/fonts/relative-mono10pitch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-size: 1.1rem;
  --font-family: 'Relative Mono', monospace;
  --font-weight: 400;
      line-height: 1em;
}

@layer base {
  html, body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    background-color: #F2F2F0; /* Added for testing purposes */
  }
  
  .site-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 20px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .content {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem; /* Add this line for base padding */
  }
}

.text-sm {
  line-height: 1.5;

}

@media (min-width: 640px) {
    .content {
        padding: .5rem;
    }
}

@layer utilities {

  .soft-break {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .hard-break {
    display: block;
    margin-bottom: 2em;
  }
}